.projects > div{
	border: 1px solid #ccc;
	margin: 1%;
	width: 31%;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
}
.projects > div > div{
	float: left;
	height: 100%;
}
.projects > div > div:first-child{
	height: 100%;
	width: 5%;
}
.projects > div > div:last-child{
	padding: 25px 0;
	width: 95%;
	vertical-align: middle;
	transition: all .3s ease-out;
}

.projects > div span{
	display: inline-block;
}

.projects > div span::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  min-height: 2px;
  background: #ccc;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.projects > div:hover span::after{
  width: 100%;
}




.box-search{ 
    position: relative; 
}

.box-search input{
	padding-left:  30px;
	position: relative;
}
.box-search:before{
	position: absolute;
	padding: 10px;
	pointer-events: none;
	font-family: FontAwesome;
	content: "\f002";
	left: 0px;
	font-size: 0.75em;
	z-index: 2;
}
.row{
	margin-bottom: 0.5em;
}
