html, body{
	background-color: #6C7B80;
	color: #fff;
	height: auto;
	position: relative;
}
.projects > div{
	border: 1px solid #968C81;
	margin: 1%;
	width: 31%;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
	background-color: #084683;
}
.projects > div > div{
	float: left;
	height: 100%;
}
.projects > div > div:first-child{
	height: 100%;
	width: 8%;
	margin-top: 0.3em;
	text-align: center;
	display: grid;
}
.projects > div > div:last-child{
	padding: 25px 0;
	width: 90%;
	vertical-align: middle;
	transition: all .3s ease-out;
}

.projects > div span{
	display: inline-block;
}

.projects > div span::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  min-height: 2px;
  background: #968C81;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.projects > div:hover span::after{
  width: 100%;
}

.container{
	padding-bottom: 2em;
}


.box-search{ 
    position: relative; 
}

.box-search input{
	padding-left:  30px;
	position: relative;
	background-color: #97ABB2 !important;
	border-color: #084683 !important;
}
.box-search:before{
	position: absolute;
	padding: 10px;
	pointer-events: none;
	font-family: FontAwesome;
	content: "\f002";
	left: 0px;
	font-size: 0.75em;
	z-index: 2;
	color: #464a4c;
}
.row{
	margin-bottom: 0.5em;
}


footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding-right: 2em;
    background-color: #97ABB2;
    color: #464a4c;
}