html, body{
	height: auto;
	position: relative;
}
.projects > a{
	border: 1px solid #ccc;
	margin: 1%;
	width: 31%;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 25px 0;
	color: #292b2c;
}
.projects > a > div > i.fa{
	padding: 0 0.2em;
}

.projects > a > div:first-child{
	min-height: 10%;
	display: inline-block;
	vertical-align: baseline;
}
.projects > a > div:last-child{
	vertical-align: middle;
	transition: all .3s ease-out;
}

.projects > a span{
	display: inline-block;
}
.projects > a p{
	font-size: 12px;
    margin-top: 1em;
    margin-bottom: 0;
    color: #464a4c;
}

.projects > a span::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  min-height: 2px;
  background: #ccc;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.projects > a:hover span::after{
  width: 100%;
}

.container{
	padding-bottom: 2em;
}

.box-search{ 
    position: relative; 
}

.box-search input{
	padding-left:  30px;
	position: relative;
}

.box-search:before{
	position: absolute;
	padding: 10px;
	pointer-events: none;
	font-family: FontAwesome;
	content: "\f002";
	left: 0px;
	font-size: 0.75em;
	z-index: 2;
	color: #464a4c;
}
.row{
	margin-bottom: 0.5em;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding-right: 2em;
    background-color: #ccc;
    color: #464a4c;
}